<ul id="todo-list">
  {{#each task in model itemController='task'}}
  <li class="{{if task.isCompleted 'complete'}} {{if task.isEditing 'editing' }}">
    {{#if task.isEditing}}
      {{input class="edit" value=task.newTitle focus-out="acceptChanges" insert-newline="acceptChanges" escape-press="discardChanges" autofocus="autofocus"}}
    {{else}}
      {{input type="checkbox" checked=task.isCompleted class="toggle"}}
      <label {{action 'edit' on='doubleClick'}}>{{task.title}}</label>
      <button class="destroy" {{action 'delete'}}></button>
    {{/if}}

  </li>
  {{/each}}
</ul>
